[Unit]
Description=LinkVision - Network Infrastructure Visualization
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/opt/LinkVision

# Полный PATH (включая системные каталоги и venv)
Environment="PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/opt/LinkVision/venv/bin"
# PYTHONPATH для корректного импорта модулей проекта
Environment="PYTHONPATH=/opt/LinkVision"
Environment="FLASK_ENV=production"
Environment="FLASK_APP=app.py"          # может не понадобиться, но оставим

# Запуск через Gunicorn, указываем wsgi:app
ExecStart=/opt/LinkVision/venv/bin/gunicorn -k gevent -w 1 -b 0.0.0.0:8005 wsgi:app

Restart=always
RestartSec=10

StandardOutput=journal
StandardError=journal
SyslogIdentifier=LinkVision

PrivateTmp=true

[Install]
WantedBy=multi-user.target